.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 3rem;
	margin: 0 auto;
	padding: 5%;
	background-color: azure;
	background-image: linear-gradient(90deg, #bbc7e145, 1px, transparent 0),
		linear-gradient(0deg, #bbc7e145, 1px, transparent 0);
	background-size: 45px 45px;
	-webkit-mask-image: linear-gradient(to bottom, white, white, transparent);
	mask-image: linear-gradient(to bottom, white, white, transparent);
}
.content {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	height: min-content;
	display: grid;
	gap: 0.5rem;
}
.content > h1 {
	margin-bottom: 1rem;
}

.resetForm {
	display: grid;
	gap: 1rem;
	width: 300px;
	place-self: center;
}
.inputField > div > label {
	top: -54%;
}
.inputField {
	display: grid;
	text-align: start;
	margin-bottom: 1.5rem;
}

.confetti {
	width: 100%;
	overflow-x: hidden;
	display: grid;
	place-content: center;
}
